body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Exo 2", sans-serif !important;
}

.bg-blue {
  background-color: #023469;
  color: #fff !important;
}

.bg-green {
  background-color: #22C55E;
  color: #fff !important;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
/* Navbar */
.navbar {
  box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.1);
  min-height: 80px;
}

.nav-link {
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(34, 34, 34, 1) !important;
  margin: 0 10px;
}

.primary-btn {
  background-color: rgba(45, 150, 188, 1);
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  color: #fff;
  border-radius: 10px;
}

.primary-btn:hover {
  border: 1px solid rgba(45, 150, 188, 1);
  background-color: #fff;
  color: rgba(45, 150, 188, 1);
}

.primary-outline-btn {
  border: 1px solid rgba(45, 150, 188, 1);
  border-radius: 10px;
  background-color: #fff;
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  color: rgba(45, 150, 188, 1);
}

.primary-outline-btn:hover {
  border: 1px solid rgba(45, 150, 188, 1);
  background-color: rgba(45, 150, 188, .1);
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  color: rgba(45, 150, 188, 1);
}

.login-icon {
  height: 20px;
  width: 20px;
}

/* Hero Section */
.hero-section {
  background-image: url('/public/images/hero-banner.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* min-height:90vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}

.hero-section .subheading {
  background-color: #fff;
  border: 0.85px solid rgba(154, 204, 255, 1);
  border-radius: 20px;
  padding: 7px 10px;
  display: inline-flex;
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 13.62px;
  line-height: 23.83px;
  color: rgba(99, 101, 126, 1);
}

.hero-section .heading {
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 58px;
  line-height: 69px;
  text-align: center;
  width: 75%;
  margin: auto;
  color: rgba(18, 18, 18, 1);
}

.underline-img {
  background-image: url('/public/images/line.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
  padding-bottom: 8px;
}

.hero-section .heading span {
  color: rgba(45, 150, 188, 1);
}

.hero-section .content {
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 19px;
  line-height: 28px;
  text-align: center;
  width: 75%;
  color: rgba(54, 54, 54, 1);
  margin: 25px auto;
}

.hero-section .works-with-div {
  background: linear-gradient(90.37deg, #5ED3FF -12.35%, #6EC6FE 0.67%, #EB65F4 100.24%, #FD58F2 114.28%);
  color: rgba(46, 46, 46, 1);
  width: fit-content;
  padding: 19px 22px;
  border-radius: 20px;
  margin: 25px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Exo 2", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.ratings {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
}

.ratings-playstore-icon {
  height: 40px;
  width: 40px;
  border-radius: 6.67px;
  background-color: #fff;
}

.ratings-icon {
  height: 20px;
  width: 20px;
}

.star-icon {
  width: 14.31px;
  height: 14.31px;
  margin-right: 3px;
}

.chrome-web-store-btn {
  background-color: rgba(55, 55, 55, 1);
  color: #fff;
  border: none;
  border-radius: 13px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
}

.chrome-web-store-btn p {
  color: rgba(255, 255, 255, 1);
  font-family: "Exo 2", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.chrome-web-store-btn small {
  color: rgba(228, 228, 228, 1);
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.free-trial-btn {
  background-color: rgba(179, 252, 106, 1);
  color: rgba(36, 36, 36, 1);
  border: none;
  border-radius: 13px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  color: rgba(36, 36, 36, 1);
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 16px;
}

/* Feature Section */
.feature-section {
  padding: 50px 0;
  border-bottom: 1px solid rgba(241, 241, 241, 1);
}

.feature-section div {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.feature-section div span {
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

/* Daily Challenges Section */
.challenges-section {
  padding: 50px 0 100px 0;
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 36px;
}

.challenges-section .heading {
  text-align: center;
}

.challenges-section .challenge-1 {
  padding: 20px;
  background-color: rgba(255, 247, 248, 1);
  border-radius: 18px;
}

.challenges-section .challenge-2 {
  padding: 20px;
  box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.2);
  border-radius: 18px;
}

.challenges-section .challenge-1 .head {
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: rgba(210, 75, 104, 1);
}

.challenges-section .challenge-2 .head {
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: rgba(9, 119, 55, 1);
}

.challenges-section .challenge-2 .green-badge {
  background-color: rgba(230, 255, 241, 1);
  color: rgba(9, 119, 55, 1);
  font-family: "Exo 2", sans-serif;
  font-weight: 500;
  font-size: 13px;
  border-radius: 24.7px;
  padding: 5px 10px;
}

.challenges-section .challenge-1 .red-badge {
  background-color: rgba(255, 220, 212, 1);
  color: rgba(255, 76, 81, 1);
  font-family: "Exo 2", sans-serif;
  font-weight: 500;
  font-size: 13px;
  border-radius: 24.7px;
  padding: 5px 10px;
}

.challenges-section .subhead {
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: rgba(38, 38, 38, 1);
}

.challenges-section .content {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: rgba(76, 76, 76, 1);
  margin-top: 7px;
  width: 85%;
}

.custom-list {
  list-style: none;
  position: relative;
  padding-left: 30px;
  margin-top: 20px;
}

.custom-list li {
  position: relative;
  padding-left: 30px;
  margin-top: 20px;
  min-height: 32px;
  /* ensures space for bullet */
}

.custom-list li::before {
  content: "";
  width: 16px;
  height: 16px;
  background: url('/public/images/bullet-icon.png') no-repeat center/contain;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.custom-list2 {
  padding-left: 0;
}

.custom-list2 li {
  list-style: none;
  position: relative;
  padding-left: 35px;
  margin-top: 20px;
}

/* 1st bullet image */
.custom-list2 li:nth-child(1)::before,
.custom-list2 li:nth-child(2)::before,
.custom-list2 li:nth-child(3)::before,
.custom-list2 li:nth-child(4)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  /* center vertically */
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Different images for each li */
.custom-list2 li:nth-child(1)::before {
  background-image: url('/public/images/bullet-point1.png');
}

.custom-list2 li:nth-child(2)::before {
  background-image: url('/public/images/bullet-point2.png');
}

.custom-list2 li:nth-child(3)::before {
  background-image: url('/public/images/bullet-point3.png');
}

.custom-list2 li:nth-child(4)::before {
  background-image: url('/public/images/bullet-point4.png');
}

.leadcrm-btn {
  background-color: rgba(179, 252, 106, 1);
  color: rgba(0, 0, 0, 1);
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 16px;
  border-radius: 12px;
  border: none;
  padding: 12px 25px;
}

.save-hours-img {
  position: absolute;
  bottom: -40px;
  height: 150px;
  width: auto;
}

@media(max-width:768px) {
  .ratings {
    display: flex;
    flex-direction: column;
  }

  .rating .me-5 {
    margin-right: 0px !important;
  }

  .save-hours-img {
    display: none;
  }
}

@media(max-width:992px) {
  .hero-section .heading {
    width: 100%;
  }

  .hero-section .content {
    width: 100%;
  }
}